/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
    padding: 2px 4px;
    margin: 0 2px;
    font-size: 90%;
    white-space: nowrap;
    background: $grey-100;
    border: 1px solid $grey-200;
    border-radius: 2px;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}
