


.pan {
    padding: 0 !important;
}

.man {
    margin: 0 !important;
}

.pvn {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.mvn {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.phn {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.mhn {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.ptn {
    padding-top: 0 !important
}

.mtn {
    margin-top: 0 !important
}

.prn {
    padding-right: 0 !important
}

.mrn {
    margin-right: 0 !important
}

.pbn {
    padding-bottom: 0 !important
}

.mbn {
    margin-bottom: 0 !important
}

.pln {
    padding-left: 0 !important
}

.mln {
    margin-left: 0 !important
}

.pas {
    padding: $spacing-small !important
}

.mas {
    margin: $spacing-small !important
}

.pvs {
    padding-top: $spacing-small !important;
    padding-bottom: $spacing-small !important
}

.mvs {
    margin-top: $spacing-small !important;
    margin-bottom: $spacing-small !important
}

.phs {
    padding-left: $spacing-small !important;
    padding-right: $spacing-small !important
}

.mhs {
    margin-left: $spacing-small !important;
    margin-right: $spacing-small !important
}

.pts {
    padding-top: $spacing-small !important
}

.mts {
    margin-top: $spacing-small !important
}

.prs {
    padding-right: $spacing-small !important
}

.mrs {
    margin-right: $spacing-small !important
}

.pbs {
    padding-bottom: $spacing-small !important
}

.mbs {
    margin-bottom: $spacing-small !important
}

.pls {
    padding-left: $spacing-small !important
}

.mls {
    margin-left: $spacing-small !important
}

.pam {
    padding: ($spacing-base/2) !important
}

.mam {
    margin: ($spacing-base/2) !important
}

.pvm {
    padding-top: ($spacing-base/2) !important;
    padding-bottom: ($spacing-base/2) !important
}

.mvm {
    margin-top: ($spacing-base/2) !important;
    margin-bottom: ($spacing-base/2) !important
}

.phm {
    padding-left: ($spacing-base/2) !important;
    padding-right: ($spacing-base/2) !important
}

.mhm {
    margin-left: ($spacing-base/2) !important;
    margin-right: ($spacing-base/2) !important
}

.ptm {
    padding-top: ($spacing-base/2) !important
}

.mtm {
    margin-top: ($spacing-base/2) !important
}

.prm {
    padding-right: ($spacing-base/2) !important
}

.mrm {
    margin-right: ($spacing-base/2) !important
}

.pbm {
    padding-bottom: ($spacing-base/2) !important
}

.mbm {
    margin-bottom: ($spacing-base/2) !important
}

.plm {
    padding-left: ($spacing-base/2) !important
}

.mlm {
    margin-left: ($spacing-base/2) !important
}

.pal {
    padding: $spacing-base !important
}

.mal {
    margin: $spacing-base !important
}

.pvl {
    padding-top: $spacing-base !important;
    padding-bottom: $spacing-base !important
}

.mvl {
    margin-top: $spacing-base !important;
    margin-bottom: $spacing-base !important
}

.phl {
    padding-left: $spacing-base !important;
    padding-right: $spacing-base !important
}

.mhl {
    margin-left: $spacing-base !important;
    margin-right: $spacing-base !important
}

.ptl {
    padding-top: $spacing-base !important
}

.mtl {
    margin-top: $spacing-base !important
}

.prl {
    padding-right: $spacing-base !important
}

.mrl {
    margin-right: $spacing-base !important
}

.pbl {
    padding-bottom: $spacing-base !important
}

.mbl {
    margin-bottom: $spacing-base !important
}

.pll {
    padding-left: $spacing-base !important
}

.mll {
    margin-left: $spacing-base !important
}

.paxl {
    padding: ($spacing-base*2) !important
}

.maxl {
    margin: ($spacing-base*2) !important
}

.pvxl {
    padding-top: ($spacing-base*2) !important;
    padding-bottom: ($spacing-base*2) !important
}

.mvxl {
    margin-top: ($spacing-base*2) !important;
    margin-bottom: ($spacing-base*2) !important
}

.phxl {
    padding-left: ($spacing-base*2) !important;
    padding-right: ($spacing-base*2) !important
}

.mhxl {
    margin-left: ($spacing-base*2) !important;
    margin-right: ($spacing-base*2) !important
}

.ptxl {
    padding-top: ($spacing-base*2) !important
}

.mtxl {
    margin-top: ($spacing-base*2) !important
}

.prxl {
    padding-right: ($spacing-base*2) !important
}

.mrxl {
    margin-right: ($spacing-base*2) !important
}

.pbxl {
    padding-bottom: ($spacing-base*2) !important
}

.mbxl {
    margin-bottom: ($spacing-base*2) !important
}

.plxl {
    padding-left: ($spacing-base*2) !important
}

.mlxl {
    margin-left: ($spacing-base*2) !important
}

.paxxl {
    padding: ($spacing-base*3) !important
}

.maxxl {
    margin: ($spacing-base*3) !important
}

.pvxxl {
    padding-top: ($spacing-base*3) !important;
    padding-bottom: ($spacing-base*3) !important
}

.mvxxl {
    margin-top: ($spacing-base*3) !important;
    margin-bottom: ($spacing-base*3) !important
}

.phxxl {
    padding-left: ($spacing-base*3) !important;
    padding-right: ($spacing-base*3) !important
}

.mhxxl {
    margin-left: ($spacing-base*3) !important;
    margin-right: ($spacing-base*3) !important
}

.ptxxl {
    padding-top: ($spacing-base*3) !important
}

.mtxxl {
    margin-top: ($spacing-base*3) !important
}

.prxxl {
    padding-right: ($spacing-base*3) !important
}

.mrxxl {
    margin-right: ($spacing-base*3) !important
}

.pbxxl {
    padding-bottom: ($spacing-base*3) !important
}

.mbxxl {
    margin-bottom: ($spacing-base*3) !important
}

.plxxl {
    padding-left: ($spacing-base*3) !important
}

.mlxxl {
    margin-left: ($spacing-base*3) !important
}

.paxxxl {
    padding: ($spacing-base*4) !important
}

.maxxxl {
    margin: ($spacing-base*4) !important
}

.pvxxxl {
    padding-top: ($spacing-base*4) !important;
    padding-bottom: ($spacing-base*4) !important
}

.mvxxxl {
    margin-top: ($spacing-base*4) !important;
    margin-bottom: ($spacing-base*4) !important
}

.phxxxl {
    padding-left: ($spacing-base*4) !important;
    padding-right: ($spacing-base*4) !important
}

.mhxxxl {
    margin-left: ($spacing-base*4) !important;
    margin-right: ($spacing-base*4) !important
}

.ptxxxl {
    padding-top: ($spacing-base*4) !important
}

.mtxxxl {
    margin-top: ($spacing-base*4) !important
}

.prxxxl {
    padding-right: ($spacing-base*4) !important
}

.mrxxxl {
    margin-right: ($spacing-base*4) !important
}

.pbxxxl {
    padding-bottom: ($spacing-base*4) !important
}

.mbxxxl {
    margin-bottom: ($spacing-base*4) !important
}

.plxxxl {
    padding-left: ($spacing-base*4) !important
}

.mlxxxl {
    margin-left: ($spacing-base*4) !important
}

.paxxxxl {
    padding: ($spacing-base*5) !important
}

.maxxxxl {
    margin: ($spacing-base*5) !important
}

.pvxxxxl {
    padding-top: ($spacing-base*5) !important;
    padding-bottom: ($spacing-base*5) !important
}

.mvxxxxl {
    margin-top: ($spacing-base*5) !important;
    margin-bottom: ($spacing-base*5) !important
}

.phxxxxl {
    padding-left: ($spacing-base*5) !important;
    padding-right: ($spacing-base*5) !important
}

.mhxxxxl {
    margin-left: ($spacing-base*5) !important;
    margin-right: ($spacing-base*5) !important
}

.ptxxxxl {
    padding-top: ($spacing-base*5) !important
}

.mtxxxxl {
    margin-top: ($spacing-base*5) !important
}

.prxxxxl {
    padding-right: ($spacing-base*5) !important
}

.mrxxxxl {
    margin-right: ($spacing-base*5) !important
}

.pbxxxxl {
    padding-bottom: ($spacing-base*5) !important
}

.mbxxxxl {
    margin-bottom: ($spacing-base*5) !important
}

.plxxxxl {
    padding-left: ($spacing-base*5) !important
}

.mlxxxxl {
    margin-left: ($spacing-base*5) !important
}