---
title: PUI Experimental
---

.page.full-vh.sg
	.sg-rim
		.sg-rim-left
		.sg-rim-top
		.sg-rim-right
		.sg-rim-bottom


		
	%div.pos-a-mid.txt-c
		%h1.monoton.mbxxxl.type-white PUI-PUSHER
		%a.button.btn-default-alt-wh.btn-lg{:href => "/styleguide.html"}
			View The Experiment
		%div.type-white
			by
			%a.type-white{:href => "https://twitter.com/Elliotdahl", :target => "_blank"} @elliotdahl 
