---
title: 8pt Foundation Styleguide
---
//this

.page

  
  .margin-auto.relative
    %section.sg-sidenav.box-shadow-2
      .section-content.margin-auto
        .sg-sidenav-hero.bg-brand-5.txt-c.pvxl
          .monoton.type-white
            %h1.mbn PUI
        %ul.list-unstyled.paxl.type-md
          %li 
            %a.hover-underline{:href => "#get-started"} Get Started
          %li 
            %a.hover-underline{:href => "#buttons"} Buttons
          %li
            %a.hover-underline{:href => "#inputs"} Inputs
          %li
            %a.hover-underline{:href => "#icons"} Icons
          
    .row.sg-content.no-gutter
      .col-md-24
        %section#get-started
          .section-content.margin-auto.paxl.mdl-color--white
            %h3 Get Started
            %a.button.btn-highlight.btn-lg{:href => "https://github.com/pivotal-cf/pui-css-experimental", :target => "_blank"} View Repo
            %p.mtm.mbn Version: 0.1
        %section#buttons
          .section-content.margin-auto.paxl.mdl-color--white
            %h2.section-header Buttons
            %p 
              Four different button colors and their alt variations. The base 
              %code button
              and
              %code .button
              is the default ghost. You can modify it's color with a class.
            
            .section-format.mbxl
              .mbxl
                %button.btn-default 
                  %span Default
                %button.btn-default-alt Default Alt
                %button Flat
                  
              .mbxl
                %button.btn-highlight Highlight 
                %button.btn-highlight-alt Highlight Alt
                %button.btn-highlight-flat Flat

              .mbxl
                %button.btn-positive Positive
                %button.btn-positive-alt Positive Alt
                %button.btn-positive-flat Flat
              %div
                %button.btn-negative Negative
                %button.btn-negative-alt Negative Alt
                %button.btn-negative-flat Flat
            
                
            %h4 Disabled
            
            .section-format.mbxl
              .mbxl
                %button.btn-default.disabled{:disabled => ""} Default
                %button.btn-default-alt.disabled{:disabled => ""} Default Alt
                %button.disabled{:disabled => ""} Flat
              .mbxl
                %button.btn-highlight.disabled{:disabled => ""} Highlight 
                %button.btn-highlight-alt.disabled{:disabled => ""} Highlight Alt
                %button.btn-highlight-flat.disabled{:disabled => ""} Flat

              .mbxl
                %button.btn-positive.disabled{:disabled => ""} Positive
                %button.btn-positive-alt.disabled{:disabled => ""} Positive Alt
                %button.btn-positive-flat.disabled{:disabled => ""} Flat
              %div
                %button.btn-negative.disabled{:disabled => ""} Negative
                %button.btn-negative-alt.disabled{:disabled => ""} Negative Alt
                %button.btn-negative-flat.disabled{:disabled => ""} Flat
            %h4 Icon Buttons
            .section-format.mbxl
              %div
                %button.btn-default 

                  .svgicon
                    =partial 'images/svg-lib/ic_add_48px.svg'
                  %span
                    default
                %button.btn-default.btn-icon
                  .svgicon
                    =partial 'images/svg-lib/ic_autorenew_48px.svg'
                %button.btn-default-alt.btn-icon
                  .svgicon
                    =partial 'images/svg-lib/ic_add_48px.svg'
                %button.btn-positive.btn-icon
                  .svgicon
                    =partial 'images/svg-lib/ic_add_48px.svg'
                
              
                
            %h4 Button Loaders
            .section-format.mbxl
              
              .mbxl
                %button.btn-default
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  %span
                    Loading
                  
                %button.btn-default-alt
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  Loading
                  
              .mbxl
                %button.btn-highlight
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  Loading
                %button.btn-highlight-alt
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  Loading
              .mbxl
                %button.btn-positive
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  Loading
                %button.btn-positive-alt
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  Loading
              %div
                %button.btn-negative
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  Loading
                %button.btn-negative-alt
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  Loading
            %h4 Sizes
            .section-format.mbxl
              .mbxl
                %button.btn-default.btn-sm 
                  %div small
                %button.btn-default default
                %button.btn-default.btn-lg 
                  %div large
              .mbxl
                %button.btn-default.btn-sm
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  Small Load
                %button.btn-default
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  Loading
                %button.btn-default.btn-lg
                  .svgicon
                    =partial 'images/loading/spinner-sm.svg'
                  Large Load
              %div
                %button.btn-default.btn-sm
                  .svgicon
                    =partial 'images/svg-lib/ic_add_48px.svg'
                  %div small
                %button.btn-default
                  .svgicon
                    =partial 'images/svg-lib/ic_add_48px.svg'
                  %div default
                %button.btn-default.btn-lg
                  .svgicon
                    =partial 'images/svg-lib/ic_add_48px.svg'
                  %div large
            %h4 Button Groups
            %p Ensure HAML button elements have no space between them (>)
            .section-format.mbxl
              .mbxl
                
                .btn-group
                  %button.btn-default-alt yes
                  %button.btn-default> maybe
                  %button.btn-default-alt no
              %div
                .btn-group
                  %button.btn-default-alt.btn-icon
                    .svgicon
                      =partial 'images/svg-lib/ic_add_48px.svg'
                  %button.btn-default-alt.btn-icon>
                    .svgicon
                      =partial 'images/svg-lib/ic_clear_48px.svg'
                  %button.btn-default-alt.btn-icon
                    .svgicon
                      =partial 'images/svg-lib/ic_search_48px.svg'
            %h4 Button Group Flat
            %p Flat Button Group
            .section-format
              .mbxl
                .btn-group-flat
                  %button.btn-icon
                    .svgicon
                      =partial 'images/svg-lib/ic_chevron_left_48px.svg'
                  %button>
                    3
                  %button>
                    4
                  %button.btn-default>
                    5
                  %button.btn-icon
                    .svgicon
                      =partial 'images/svg-lib/ic_chevron_right_48px.svg'
              .mbxl
                .btn-group-flat
                  %button.btn-icon
                    .svgicon
                      =partial 'images/svg-lib/ic_format_align_left_48px.svg'
                  %button.btn-icon
                    .svgicon
                      =partial 'images/svg-lib/ic_format_align_justify_48px.svg'
                  %button.btn-icon.btn-default
                    .svgicon
                      =partial 'images/svg-lib/ic_format_align_center_48px.svg'
                  %button.btn-icon
                    .svgicon
                      =partial 'images/svg-lib/ic_format_align_right_48px.svg'
              %div
                .btn-group-flat
                  %button>
                    Yes
                  %button>
                    Maybe
                  %button.btn-default>
                    Kinda
                  %button>
                    No

                
        -# %section#inputs
        -#   .section-content.margin-auto.paxl.mdl-color--white
        -#     %h2.section-header Inputs
        -#     .section-format.mbxl.pbl
        -#       %form
        -#         .form-group
        -#           %label Email
        -#           %input.form-control{:type => "email", :placeholder => "Enter email"}
        -#         .form-group
        -#           %button.btn-default Submit
        -#     %h4 Row Form (single column)
        -#     .section-format.mbxl.pbl
        -#       .form-group.left
        -#         %label Email
        -#         %input.form-control{:type => "email", :placeholder => "Email"}
            
        -#       .form-group.left
        -#         %label Password
        -#         %input.form-control{:type => "password", :placeholder => "Password"}
            
        -#       .form-group.left
                
        -#         %button.btn-default.mtxxxl Submit
        -#       .clear
        -#     %h4 Inline Single Row
        -#     .section-format.mbxl.pbl
        -#       %form
        -#         .form-group.form-inline
        -#           %label Email
        -#         .form-group.form-inline
        -#           %input.form-control{:type => "email", :placeholder => "Enter email"}
        -#         .form-group.form-inline
        -#           %button.btn-default Submit
        -#     %h4 Disabled
        -#     .section-format.mbxl.pbl
        -#       %form
        -#         .form-group
        -#           %label Email
        -#           %input.form-control.disabled{:type => "email", :placeholder => "Enter email", :disabled => ""}
        -#         .form-group
        -#           %button.btn-default.disabled{:disabled => ""} Submit
        -#     %h4 Large
        -#     .section-format.mbxl.pbl
        -#       %form
        -#         .form-group.form-lg
        -#           %label Large
        -#           %input.form-control{:type => "text", :placeholder => "Larger"}
        -#         .form-group.form-lg
        -#           %button.btn-default.btn-lg Large Btn
        -#     %h4 Select
        -#     .section-format.mbxl.pbl
        -#       %form
        -#         .form-group
        -#           %select.form-control
        -#             %option Pivotal
        -#             %option Google
        -#             %option Yahoo
        -#             %option Microsoft-Linkedin
        -#     %h4 Search
        -#     .section-format.mbxl.pbl
        -#       %form
        -#         .form-group.form-group-search
        -#           .svgicon
        -#             =partial 'images/svg-lib/ic_search_48px.svg'
        -#           %input{:type => "search", :placeholder => "Search..."}
        -#     %h4 Text Area
        -#     .section-format.mbxl.pbl
        -#       %form
        -#         .form-group
        -#           %textarea{:placeholder => "Type body here..."}
        -#     %h4 Radio/Checkbox
        -#     .section-format.mbxl.pbl
        -#       %form
        -#         .form-group
        -#           %input{:type => "checkbox"}
        -#           Remember Me
        -#         .form-group
        -#           %input{:type => "radio"}
        -#           Don't Remember me
        -#     %h4 Error/Acceptance States
        -#     %p Click on the red "x" in the error state to clear the form field and rest the error.
        -#     .section-format.mbxl.pbl
        -#       %form
        -#         .form-group.form-inline
        -#           %input.invalid{:type => "text", :placeholder => "Enter text", :value => "Wrong Answer"}
        -#           .svgicon.invalid
        -#             =partial 'images/svg-lib/ic_clear_48px.svg'
        -#           .invalid-text Error please try again
        -#         .form-group.form-inline
        -#           %input.valid{:type => "text", :placeholder => "Enter text", :value => "Right Answer"}
        -#           .svgicon.valid
        -#             =partial 'images/svg-lib/ic_check_circle_48px.svg'
        -#         .form-group.form-inline
        -#           %input.loader{:type => "text", :placeholder => "Enter text", :value => "Hold up..."}
        -#           .svgicon.loading
        -#             =partial 'images/loading/spinner-sm.svg'
        -#     %h4 Simple Forms
        -#     %p Iron out simple use case.
        -#     .section-format.mbxl.pbl
        -#       %form.simple-form
        -#         .form-group.form-inline
        -#           %input.form-control{:type => "email", :placeholder => "Enter email"}
        -#         .form-group.form-inline
        -#           %input.form-control.disabled{:type => "email", :value => "disabled"}
        -#         .form-group.form-inline
        -#           %input.invalid{:type => "text", :placeholder => "Enter text", :value => "Wrong Answer"}
        -#           .svgicon.invalid
        -#             =partial 'images/svg-lib/ic_clear_48px.svg'
        -#           .invalid-text Error please try again
        %section#icons
          .section-content.margin-auto.paxl.mdl-color--white
            %h2.section-header Icons
            %p 
              View 
              %a{:href => "http://pivotalicons.cfapps.io/", :target => "_blank"} 
                Pivotal SVG Icon Library
             
        